{% extends 'base.html' %}

{% block title %}
    crear
{% endblock %}

{% block content %}
    <h1>Vamos a crear un usuario</h1>
    <form action="" method="POST">
        <label for="">Email: </label>
        <input type="text" name="email" required>
        <label for="">Username: </label>
        <input type="text" name="username" required>
        <label for="">Edad: </label>
        <input type="number" name="edad" required>
        <input type="submit" value="Guardar">
    </form>
{% endblock %}